body {
  background-color: #088;
}

.App {
  margin-top: 7px;
}

.App .navbar-brand {
  font-weight: bold;
  color: #ccc;
}

.navbar {
  background-color: #343a40;
  padding: 0 5px;
  margin: 10px 5px 20px 5px;
  border: none;
}

.App .navbar-toggle {
  border: none;
}
